{% extends 'base.html' %}
{% block title %}个人资料 - Kunqing Campus{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card">
      <div class="card-header">个人资料</div>
      <div class="card-body">
        <form method="post">
          {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ form.real_name.label(class="form-label") }}
            {{ form.real_name(class="form-control", placeholder="姓名") }}
            {% for err in form.real_name.errors %}<div class="text-danger small">{{ err }}</div>{% endfor %}
          </div>
          <div class="mb-3">
            {{ form.college.label(class="form-label") }}
            {{ form.college(class="form-control", placeholder="学院") }}
            {% for err in form.college.errors %}<div class="text-danger small">{{ err }}</div>{% endfor %}
          </div>
          <div class="mb-3">
            {{ form.major.label(class="form-label") }}
            {{ form.major(class="form-control", placeholder="专业") }}
            {% for err in form.major.errors %}<div class="text-danger small">{{ err }}</div>{% endfor %}
          </div>
          <div class="mb-3">
            {{ form.grade.label(class="form-label") }}
            {{ form.grade(class="form-control", placeholder="年级") }}
            {% for err in form.grade.errors %}<div class="text-danger small">{{ err }}</div>{% endfor %}
          </div>
          <div class="mb-3">
            {{ form.phone.label(class="form-label") }}
            {{ form.phone(class="form-control", placeholder="电话") }}
            {% for err in form.phone.errors %}<div class="text-danger small">{{ err }}</div>{% endfor %}
          </div>
          {{ form.submit(class="btn btn-primary w-100") }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}